body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
	height: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 4px;
}

div {
  height: 100%;
}

.prueba {
  width: 100%;
  color: black;
  height: 100%;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
}